@page
@model Universite.Pages.Courss.DetailsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Cours</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cours.DHDebut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cours.DHDebut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cours.DHFin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cours.DHFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cours.LUE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cours.LUE.Intitule)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cours.LSalle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cours.LSalle.SalleID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cours.CoursID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
