@page
@model Universite.Pages.Courss.IndexModel



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cours[0].DHDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cours[0].DHFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cours[0].LeGroupe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cours[0].LEnseigne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cours[0].LSalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cours[0].LeTypeCours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cours) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DHDebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DHFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeGroupe.NomGroupe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LEnseigne.LEnseignant.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LSalle.NomSalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeTypeCours.Intitule)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CoursID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CoursID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CoursID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
