@page
@model Universite.Pages.Groupes.IndexModel



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Groupe[0].NomGroupe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Groupe[0].LUE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Groupe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomGroupe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LUE.Intitule)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GroupeID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.GroupeID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GroupeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
